.card-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(33, 4, 192);
    border-bottom-left-radius:  15px;
    border-bottom-right-radius:  15px;
    cursor: pointer;
    -mox-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}

.image {
    width: 50px;
    height: auto;
    background-color: green;
}

.heading-3 {
    color : rgb(182, 182, 182);
}